.work_wrapper h2{
    font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  text-transform: uppercase;
}
.work_wrapper{
    margin-bottom: 10px;
}
.workexp_list{
    line-height: 25px;
}
.workexp_list p{
    font-size: 14px;
    font-weight: 500;
}

.workexp_list h3{
    font-size: 15px;
    font-weight: 500;
}
.workexp_list strong{
    font-size: 14px;
    font-weight: 500;
}